app/application.dtd

<!ELEMENT application (actions*,listeners*)>
<!ELEMENT actions (action*)>
<!ELEMENT action (param*)>
<!ELEMENT param EMPTY>
<!ATTLIST action
	uri CDATA #REQUIRED
	class CDATA #REQUIRED
	method CDATA #REQUIRED>
<!ELEMENT listeners (listener*)>
<!ELEMENT listener EMPTY>
<!ATTLIST listener
	listenFor CDATA #REQUIRED
	listenerMethod CDATA #REQUIRED>
